<footer class="footer flex">
<div class="vs-footer">
    <div class="vs-logo">
        <img class="vs-logo-image" src="https://cdn.vahera.com/utG8NiO3oN8sfXvI2ZZ0zg/30dd22ef-b3bf-4fa3-70a9-af8c8cf45b00/public">
    </div>
    <div class="footer-links">
        <a class="footer-link" href="https://vahera.com/about">About</a>
        <a class="footer-link" href="https://forums.vahera.com">Support</a>
        <a class="footer-link" href="https://www.vahera.com/legal/index.html">Legal</a>
    </div>
    <div class="footer-terms terms-copyright">&copy; <script>document.write(new Date().getFullYear());</script> Vahera Studios, LLC. All Rights Reserved.</div>
    <div class="footer-terms terms-trademark">All trademarks referenced herein are the properties of their respective owners.</div>
    <div class="footer-terms terms-trademark">Vahera Studios is not affiliated with Godot Engine.</div>
    <div class="footer-sublinks">
        <a class="footer-link" href="https://www.vahera.com/legal/webterms.html">Terms</a>
        <a class="footer-link" href="https://www.vahera.com/legal/webprivacy.html">Privacy</a>
        <a class="footer-link" href="https://www.vahera.com/legal/webcookies.html">Cookie Policy</a>
    </div>
</div>
</footer>
